<mat-dialog-actions align="end">
  <button mat-dialog-close>&times;</button>
</mat-dialog-actions>
<mat-dialog-content>
  <div class="container text-center mb-3">
    <h1>Login here !</h1>
  </div>
  <form (ngSubmit)="loginForm()">
    
    <!-- email -->
    <mat-form-field class="f" appearance="fill" hintLabel="Max 20 char/digit">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        [(ngModel)]="loginData.email"
        name="email"
        placeholder="Email"
        #input
        maxlength="40"
      />
      <mat-hint align="end">{{ input.value.length || 0 }}/40</mat-hint>
    </mat-form-field>
    <!-- password-->
    <mat-form-field class="f" hintLabel="Max 12 char/digit" appearance="fill">
      <mat-label>Password</mat-label>
      <input
        [(ngModel)]="loginData.password"
        matInput
        type="password"
        name="password"
        placeholder="Password"
        #inp
        maxlength="12"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-hint align="end">{{ inp.value.length || 0 }}/12</mat-hint>
    </mat-form-field>
    <div class="container text-center mt-2">
      <button
      class="btn-block"
        mat-raised-button
        color="primary"
        style="margin-right: 10px"
        type="submit" 
        [mat-dialog-close]="true" cdkFocusInitial
      >
        Login
      </button>
    </div>
  </form>
  <div class="container text-right mt-4">
    <button
      mat-raised-button
      color="accent"
      (click)="openRegister()"
      style="margin: 5px"
    >
      If you have not an accout?
    </button>
    <button mat-raised-button color="warn" style="margin: 5px" (click)="sendEmail()">
      Forget Password
    </button>
  </div>
</mat-dialog-content>
