<mat-card>
    <mat-card-content>
 <mat-dialog-actions align="end">
    <button mat-dialog-close="true">&times;</button>
 </mat-dialog-actions>
<mat-dialog-content>
    <form>
        <mat-form-field hintLabel="Email should be its formate" appearance="outline">
            <mat-label>Send Email</mat-label>
            <input type="email" matInput placeholder="Enter email here ?" #input maxlength="30">
            <mat-hint align="end">{{input.value.length || 0}}/30</mat-hint>
        </mat-form-field>
        <div class="container mt-2">
            <button class="btn-block" mat-raised-button color="primary" type="submit" mat-dialog-close (click)="openOTP()">Send email</button>
        </div>
    </form>
</mat-dialog-content>
</mat-card-content>
</mat-card>