<div class="row mt-2">
  <mat-card>
    <mat-card id="int">
      <div class="row">
        <div class="col-md-4">
          <mat-card>
            <strong>download pdf....</strong>
            <ol>
              <li><a href="../../../assets/b1.pdf">Blochain Technology</a></li>
              <li><a href="../../../assets/b2.pdf">Blochain Technology</a></li>
              <li><a href="../../../assets/b3.pdf">Blochain Technology</a></li>
              <li><a href="../../../assets/b4.pdf">Blochain Technology</a></li>
            </ol>
          </mat-card>
        
        </div>
        <div class="col-md-8">
          <mat-card>
            <article>
              <strong>Introduction....</strong><br>
              Blockchain is the backbone Technology of Digital CryptoCurrency BitCoin.
               The blockchain is a distributed database of records of all transactions 
               or digital event that have been executed and shared among participating parties.
               Each transaction verified by the majority of participants of the system.
            </article>
          </mat-card>
         
        </div>
      </div>    
    </mat-card>
    <mat-card id="int">
      <h3>introduction ...</h3>
    </mat-card>
<!-- pagination -->
<mat-paginator
[length]="100"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]"
aria-label="Select page"
>
</mat-paginator>
  </mat-card>
</div>




