<mat-card *ngFor="let q of quiz" class="mb-2">
    <mat-card-header> 
        <div mat-card-avatar><mat-icon>quiz</mat-icon></div>       
        <mat-card-title>
            {{q.title}}
        </mat-card-title>
        <mat-card-subtitle>
            {{q.category.title}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        {{q.description}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent"
        [routerLink]="['/admin/viewquestions',q.qid,q.title]"
        >Questions</button>
        <button mat-button color="accent">Max Marks : {{q.maxMarks}}</button>
        <button mat-button color="accent">Number Of Questions : {{q.numberOfQuestins}}</button>
        <button mat-button color="accent">Update</button>
        <button mat-button color="accent">Attempts</button>
    </mat-card-actions>
</mat-card>
<div class="container text-center">
    <button mat-raised-button color="accent">Add New Quiz</button>
</div>