<div class="row v">
    <div class="container-fluid s">
      <h5>New Update</h5>
    </div>
   
    <div class="container-fluid ov">
      <a href="#" routerLink="infixtopos">Infix to postfix </a>
      <mat-divider></mat-divider>
      <a href="#" routerLink="infixtoPre">Infix to prefix </a>
      <mat-divider></mat-divider>
      <a href="#" routerLink="posttoinfix">Postfix to infix </a>
      <mat-divider></mat-divider>
      <a href="#" routerLink="prefixtoinfix">Prefix to infix</a>
      <mat-divider></mat-divider>
      <a href="#" routerLink="evaluatepost"> Evaluation of PostFix expression </a>
      <mat-divider></mat-divider>
      <a href="#" routerLink="evaluatepre"> Evaluation of Prefix expression</a>
    </div>
    <div class="container s">
      <h5>Download pdf file </h5>
    </div>
    <div class="container-fluid ov">
      <a routerLink="artificial">Artificial Intelligence </a>
      <mat-divider></mat-divider>
      <a routerLink="web"> Web Technology </a>
      <mat-divider></mat-divider>
      <a routerLink="blokchain">Blockchain Technology</a>
      <mat-divider></mat-divider>
      <a routerLink="mobile">Mobile Programming </a>
      <mat-divider></mat-divider>
      <a routerLink="cyber">Cyber Security </a>
      <mat-divider></mat-divider>
      <a routerLink="cyber">Hardware Engineer</a>
    </div>
    <div class="container s">
      <h5>Popular Post</h5>
    </div>
    <div class="container-fluid ov">
      <a href="#" routerLink="infixtopos">Infix to postfix </a>
      <mat-divider></mat-divider>
      <a href="#" routerLink="infixtoPre">Infix to prefix </a>
      <mat-divider></mat-divider>
      <a href="#" routerLink="posttoinfix">Postfix to infix </a>
      <mat-divider></mat-divider>
      <a href="#" routerLink="prefixtoinfix">Prefix to infix</a>
      <mat-divider></mat-divider>
      <a href="#" routerLink="evaluatepost"> Evaluation of PostFix expression </a>
      <mat-divider></mat-divider>
      <a href="#" routerLink="evaluatepre"> Evaluation of Prefix expression</a>
    </div>
  </div>
  