<div class="row mt-2">
  <mat-card>
    <h1>Cyber Security.......</h1>
          <mat-divider></mat-divider><br>
    <div class="row">
      <div class="col-md-7">
        <mat-card id="d">
          
          <p>
            <strong>Introduction....</strong><br>
            Computer security, cybersecurity (cyber security), or information
            technology security (IT security) is the protection of computer
            systems and networks from information disclosure, theft of, or
            damage to their hardware, software, or electronic data, as well as
            from the disruption or misdirection of the services they provide
            .<br />
            The field has become of significance due to the expanded reliance on
            computer systems, the Internet, and wireless network standards such
            as Bluetooth and Wi-Fi, and due to the growth of smart devices,
            including smartphones, televisions, and the various devices that
            constitute the Internet of things (IoT). Cybersecurity is also one
            of the significant challenges in the contemporary world, due to the
            complexity of information systems, both in terms of political usage
            and technology. Its primary goal is to ensure the system's
            dependability, integrity, and data privacy
          </p>
        </mat-card>
      </div>
      <div class="col-md-5">
        <mat-card id="d">
          <strong>Download pdf file......</strong><br>
          <ol>
            <li><a href="../../../assets/c1.pdf">cyber security..</a></li>
            <li><a href="../../../assets/c2.pdf">cyber security....</a></li>
          </ol>
        </mat-card>
      </div>
    </div>
      <mat-card id="d">
        <h1>Learning Roadmap of Cyber Security</h1>
        <ol>
          <li>programming language (java, python, C#, C++)</li>
          <li>Networking</li>
          <li>Kali Linux</li>
        </ol>
      </mat-card>
      <!-- pagination -->
<mat-paginator
[length]="100"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]"
aria-label="Select page"
>
</mat-paginator>
  </mat-card>
</div>
