<footer class="bg-dark" *ngIf="!isLoggedIn">
  <div class="container-fluid text-center text-light">
      <button mat-button id="t">Software Engineer</button>
      <article>This is a Blog website which site provides Knowledge about technologies fields<br>
           where you can read Blogs and share program oriented Algorithms</article><br>
         
           <div class="row">
            <div class="col-md-4">
                <button mat-button>Follow us :</button>
                <a href="#"><img src="../../../assets/facebook.png" alt="" srcset=""></a>
                <a href="#"><img src="../../../assets/intagram.png" alt="" srcset=""></a>
                <a href="#"><img src="../../../assets/linkedin.png" alt="" srcset=""></a>
                <a href="#"><img src="../../../assets/github.png" alt="" srcset=""></a>
                <a href="#"><img src="../../../assets/twitter.png" alt="" srcset=""></a>
            </div>
              <div class="col-md-4">
                  <article>&#169;2022 All right reserve.</article>
              </div>
             
              <div class="col-md-4">
                 <article> Founder By: <button mat-button>Ramesh rai</button></article>
              </div>               
           </div>
  </div>
</footer>
