<div class="row">
  <mat-card>
    <mat-card id="od">
      <h1>Web Technology</h1>
      <mat-divider></mat-divider><br>
      <div class="row">
        <div class="col-md-8">
          <article>
            <strong>Introduction.....</strong><br>
            Web technologies refers to the way computers/devices communicate.
             with each other using mark up languages. It invo It is communication. 
             across the web,
             and create, deliver or manage web content using hypertext markup language (HTML).
          </article>
        </div>
        <div class="col-md-4">
          <strong>pdf of web Technology.....</strong><br>
          <ol>
            <li><a href="../../../assets/w1.pdf">download pdf of web technology</a></li>
            <li><a href="../../../assets/w2.pdf">download pdf of web technology</a></li>
          </ol>
        </div>
      </div>      
    </mat-card>
    <mat-card id="od">
      <div class="row">
        <div class="col-md-4">
          <mat-card>
            <mat-icon>category</mat-icon>Category
            <mat-divider></mat-divider><br>
            <ol>
              <li>Backend Development</li>
              <li>Frontkend Development</li>
              <li>Database Development</li>
            </ol>
          </mat-card>
        </div>
        <div class="col-md-8">
          <mat-card>
           <strong>Backend Development.....</strong>
           <article>
            The Backend development is a part of the web technology where all business logic will be 
            run for special purposes such as : data of  <strong>Frontend...</strong> 
            that store will be server or DB using backend.
            <br>
            <strong>Backend Technologies....</strong>
            <ol>
              <li>Java..</li>
              <li>Python..</li>
              <li>PHP</li>
              <li>C#...</li>
              <li>.NET etc...</li>
            </ol>
           </article>
          </mat-card>
          <mat-card>
            <strong>Frontend Development......</strong>
            <article>
              The Frontend technology is UI/Ux technologies which is  interface of the 
              website. that technology interact with the users and customers for 
              many purposes.
              <br>
            <strong>Frontend Technologies....</strong>
            <ol>
              <li>Javascript, HTML , CSS...</li>
              <li>Angular js...</li>
              <li>React js...</li>
              <li>Bootstrap...</li>
              <li>Photoshop...</li>
              <li>etc...</li>
            </ol>
            </article>
          </mat-card>
          <mat-card>

            <strong>Database ............</strong>
            <article>
              This technologies is the most important for the web technology for 
              important documents store purpose and privacy for the company's data.
              that store data into Server or Cloud.
              <br>
            <strong>Database Technologies....</strong>
            <ol>
              <li>MYSQL...</li>
              <li>Oracle...</li>
              <li> PostgreSQL...</li>
              <li>Microsoft SQL Server...</li>
              <li>MongoDB...</li>
              <li>Redis, Elasticsearch, Cassandra, MariaDB, IBM Db2 etc...</li>
            </ol>
            </article>
          </mat-card>
        </div>
      </div>
    </mat-card>
    <!-- pagination -->
<mat-paginator
[length]="100"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]"
aria-label="Select page"
>
</mat-paginator>
  </mat-card>
</div>
