<mat-card>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <h1>Questions of <b>{{ quiztitle }}</b></h1>
      </div>
      <div class="col-md-4 text-right">
        <button
          mat-raised-button
          color="primary"
          [routerLink]="['/admin/addquestion/',quizid,quiztitle]"
        >
          Add Question
        </button>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>
  <div *ngFor="let q of question; let i = index">
    <mat-card-content>
      <div class="container-fluid">
        <p>
          <b>Q{{ i + 1 }}</b> <span>{{ q.content }}</span
          >this is python base question
        </p>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <p><b>1)</b>{{ q.option1 }}</p>
          </div>
          <div class="col-md-3">
            <p><b>2)</b>{{ q.option2 }}</p>
          </div>
          <div class="col-md-3">
            <p><b>3)</b>{{ q.option3 }}</p>
          </div>
          <div class="col-md-3">
            <p><b>4)</b>{{ q.option4 }}</p>
          </div>
        </div>
        <p>
          <b>Currect Answer : {{ q.answer }}</b>
        </p>
      </div>
      <mat-divider></mat-divider>
    </mat-card-content>
  </div>
</mat-card>
